<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recarregar Saldo</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="ready">

    <h1>Recarregar Saldo</h1>

    <form id="form">
        <input type="text" name="clienteId" id="clienteId" placeholder="Informar o código do cartão.">
        <input type="text" name="valorRecarga" id="valorRecarga" placeholder="Informar o valor da recarga.">
        <input type="submit" value="OK">
    </form>
   
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    
    <script defer src="/js/site/clientes/recarregar-saldo.js"></script>
</body>

</html>