<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos e Política de Privacidade</title>
    <link rel="stylesheet" href="styles.css">

    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color:#f86c35;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #fa5716;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

    </style>
</head>
<body>
    <header>
       <a href="./index.html"><svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" color="white" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg ></a> 
        <h1>Bem-vindo</h1>
        <p>Leia os termos abaixo, em caso de dúvida entre em contato conosco.</p>
    </header>

    <main>
        <section id="termos">
            <h2>Termos de Serviço</h2>
            <p>1. Definições: Forneça definições claras dos termos específicos utilizados nos seus Termos de Uso para evitar ambiguidades.</p>
            <p>2. Uso Aceitável: Defina o comportamento aceitável dos usuários no site. Por exemplo, proibições de atividades ilegais, spam, assédio, etc.</p>
            <p>3. Responsabilidades do Usuário: Esclareça as responsabilidades dos usuários ao usar o site, incluindo a precisão das informações fornecidas.</p>
            <p>4. Limitações de Responsabilidade: Declare as limitações de responsabilidade da sua empresa em relação ao uso do site.

            </p>
            <p>5. Pagamentos: Detalhe as políticas de pagamento, preços, taxas e informações sobre devoluções e reembolsos.</p>
            <p>6. Suspensão e Encerramento de Conta: Informe sobre os cenários em que a conta de um usuário pode ser suspensa ou encerrada.</p>
            <p></p>
            <p></p>
        </section>

        <section id="privacidade">
            <h2>Política de Privacidade</h2>
            <p>Nós nos preocupamos com a sua privacidade.</p>
            <p>1. Segurança das Informações: as informações serão utilizadas, para cadastro do cliente, fornecer suporte ao cliente, enviar comunicações de marketing, etc.</p>
            <p>2. Cookies e Tecnologias de Rastreamento: Informe sobre o uso de cookies e outras tecnologias de rastreamento e forneça opções de controle para os usuários.</p>
            <p></p>
            <p></p>
            <p></p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 SmartPass. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
