body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0f0;
  
}

.catraca {
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  background-color: rgb(31, 153, 0);
}

.success-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Definir a altura total da tela de sucesso */
  background-color: rgb(31, 153, 0);
  margin: 0; /* Remover margens para ocupar toda a largura */
  padding: 0; /* Remover preenchimento para ocupar toda a largura */
}

.success-icon img {
  width: 80px;
  height: 80px;
  padding-bottom: 20px;
 
}

.success-message {
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-top: 20px;

}
