<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/query.css">
  <script src="https://unpkg.com/scrollreveal"></script>
  <title>Projetoweb2</title>
</head>

<body>
  <button class="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
</button>
  <div  class="container">
    <header class="cabecalho">
      <nav>
        <img src="" alt="logo">
        <ul id="menu">
          <a href="#secao1">
            <li>Home</li>
          </a>
          <a href="#secao2">
            <li>Linhas</li>
          </a>
          <a href="#secao3">
            <li>Recarga</li>
          </a>
          <a href="#secao4">
            <li>Contato</li>
          </a>
        </ul>
      </nav>
    </header>
    <section id="secao1" class="section">
      <div class="titulo">
        <h1 class="titulo-principal">Economize Tempo, Pague com Facilidade <br>Seu Novo <span>Cartão de Ônibus</span>
          <br> com a SmartPass
        </h1>

        <p>Nossos cartões facilitam o pagamento de forma rápida e segura. <br>Utilizamos tecnologia de ponta para
          rastreamento em tempo real,<br> garantindo que você esteja sempre atualizado sobre o status do seu transporte.
        <div class="itens">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
          <p>2.640 + clientes satisfeitos</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
          <p>Recaregue online</p>
        </div>
        <div class="itens">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
          <p>Para todas as idades</p>
          <svg style="margin-left: 42px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
          <p>40+ ônibus prontos</p>
        </div>
        <button class="cta">
          <a href="">
            <h5>Quero um cartão</h5>
          </a>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>

      </div>
      <div class="catraca">
        <img class="img-principal" src="./../img/catraca.jpg" height="300px" alt="">
      </div>
    </section>
  </div>

  <div class="linhas" id="secao2">
    <div>
      <h2>Linhas Principais</h2>
      <p>Pontos e horários atualizados, não perca seu ônibus!</p>
    </div>


    <table>
      <thead>
        <tr>
          <th>Número</th>
          <th>Partida</th>
          <th>Chegada</th>
          <th>Horário</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>57</td>
          <td>Porto Novo</td>
          <td>Centro - rodoviária</td>
          <td>08:40 AM</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Cidade B</td>
          <td>Cidade C</td>
          <td>09:30 AM</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Cidade C</td>
          <td>Cidade D</td>
          <td>11:00 AM</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Cidade D</td>
          <td>Cidade E</td>
          <td>12:30 PM</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Cidade E</td>
          <td>Cidade F</td>
          <td>02:00 PM</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Cidade F</td>
          <td>Cidade G</td>
          <td>03:30 PM</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Cidade F</td>
          <td>Cidade G</td>
          <td>03:30 PM</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Cidade F</td>
          <td>Cidade G</td>
          <td>03:30 PM</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Cidade F</td>
          <td>Cidade G</td>
          <td>03:30 PM</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>

  <div class="mapa">
    <img src="./../img/mapa.svg" height="300px" width="400px" alt="imagem mapa">

    <div class="localizacao">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3634.5647105821526!2d-45.408249085442536!3d-23.623597184664943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c70127f6da7137%3A0x8f7d0ec5a9366d1!2sRodovi%C3%A1ria%20de%20Caraguatatuba!5e0!3m2!1sen!2sus!4v1634295046457!5m2!1sen!2sus"
        width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>">
      <p>Ver Localização</p>
    </div>
  </div>

  <div class="recarga" id="secao3">
    <div class="texto-recarga">
      <h4>Já é nosso cliente?</h4>
      <p>Recarregue seu cartão quando e quanto quiser,de forma 100% online. <br>
        Escolha a melhor forma de pagamento!</p>
      <img src="./../img/recarga.svg" height="250px" alt="imagem ilustrativa menina com cartão">
    </div>

    <div class="formulario">
      <form class="form">
        <p class="title">Recarregue aqui </p>
        <p class="message">Insira os dados do seu cartão do ônibus abaixo: </p>
        <div class="flex">
          <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Nome</span>
          </label>

          <label>
            <input required="" placeholder="" type="text" class="input">
            <span>CPF</span>
          </label>
        </div>

        <label>
          <input required="" placeholder="" type="password" class="input">
          <span>Id do cartão do ônibus</span>
        </label>

        <p>pague com cartão de crédito/ débito:</p>
        <form class="form">
          <div class="flex">
            <label>
              <input required="" placeholder="" type="text" class="input">
              <span>Nome Completo</span>
            </label>

            <label>
              <input required="" placeholder="" type="text" class="input">
              <span>CPF</span>
            </label>
          </div>

          <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Número do cartão</span>
          </label>
          <label>
            <input required="" placeholder="" type="number" class="input">
            <span>Valor desejado</span>
          </label>
          <button id="btn" class="btn">Enviar</button>



    </div>
  </div>

  <!-- contato -->
  <div class="contato" id="secao4">
    <div class="contact-us">
      <h3>Nossos Contatos</h3>
      <div class="icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
        </svg>
        <p>(12) 3887-1990</p>
      </div>
      <div class="icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-envelope-at"
          viewBox="0 0 16 16">
          <path
            d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
          <path
            d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
        </svg>
        <p>Smartpass@adm.com</p>
      </div>
      <div class="icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
        </svg>
        <p>Seg-Dom 7h-21h</p>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy;SmartPass2023 |</p>
   <a href="./../html/termos.html"><p>Termos de uso e privacidade</p></a>
  </footer>
  <script src="./../../public/js/script.js"></script>
  <script src="../../public/css/query.css""></script>


</body>

</html>