<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aguardando</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="ready">

    <h1>AGUARDANDO</h1>

    <input type="text" name="clienteId" id="clienteId" placeholder="Informar o código do cartão." onchange="lerCartao()">
   
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script defer src="/js/app/aguardando.js"></script>
</body>

</html>